[advisories]
db-path = "$CARGO_HOME/cargo-deny"
db-urls = ["https://github.com/rustsec/advisory-db/raw/main/db.json"]

[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "ISC",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "MPL-2.0",
    "Unicode-3.0",
    "Zlib",
]

[bans]
multiple-versions = "warn"
highlight = "all"
